<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Tattoo</title>
</head>
<body>
    <h1>Formulario de Tattoo</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <label for="nombre">Nombre y Apellidos:</label><br>
        {{ form.nombre }}<br><br>

        <label for="sitio">Zona del cuerpo:</label><br>
        {{ form.sitio }}<br><br>

        <label for="tamanio">Tamaño (cm):</label><br>
        {{ form.tamanio }}<br><br>

        <label for="disponibilidad">Días preferentes:</label><br>
        {{ form.disponibilidad }}<br><br>

        <label for="disponibilidad_horaria">Disponibilidad horaria:</label><br>
        {{ form.disponibilidad_horaria }}<br><br>

        <label for="referencias_texto">Ideas, referencias y estilo:</label><br>
        {{ form.referencias_texto }}<br><br>

        <label for="foto">Imagen de referencia:</label><br>
        {{ form.foto }}<br><br>

        <label for="telefono_de_contacto">Número de teléfono:</label><br>
        {{ form.telefono_de_contacto }}<br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
