<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Asegúrate de usar Flask para enlazar los archivos estáticos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- CSS -->
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo"> <!-- Logo en la parte superior -->
        <h1 class="titulo-login">Iniciar Sesión</h1>

        <!-- Formulario de login -->
        <form action="{{ url_for('login') }}" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">Iniciar sesión</button>
        </form>

        <!-- Enlace para recuperar la contraseña -->
        <a href="/recuperar_contraseña" class="forgot-password">¿Olvidaste tu contraseña?</a>

        <!-- Mensaje de error o éxito -->
        <div class="message">
            <!-- Aquí se puede mostrar mensajes de error o éxito si es necesario -->
        </div>
    </div>
</body>
</html>
